<template>
    <yb-layout>
        <div slot="title">车位锁管理</div>
        <div slot="tool">
            <el-tooltip v-for="(item, index) in HUB" :key="index" :content='item.content' placement='top'>
                <el-button  :type="item.status" :disabled="item.disabled">{{item.name}}</el-button>
            </el-tooltip>
        </div>
        <div slot="main">
            <Table border :content="self" :data="lockData" :columns="tableColumns" stripe></Table>
        </div>
    </yb-layout>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            HUB:[
                {
                    name:'HUB 1',
                    status:'primary',
                    disabled:false,
                    content:'HUB 1 已上线'
                }
            ],
            lockData:[
                // {
                //     id: '1',
                //     lockId:'1',
                //     status: '空闲',
                //     battery: '90%',
                //     end_at:new Date().toLocaleString(),
                //     address:'C8:FD:19:0F:28:4F'
                // }
            ],
            tableColumns:[
                {
				    title:'序号',
				    key:'id'
                },
                {
				    title:'锁编号',
				    key:'lockId'
                },
                {
				    title:'使用状态',
				    key:'status',
                },
                {
				    title:'电量',
				    key:'battery'
                },
                {
				    title:'上次关锁时间',
				    key:'end_at'
                },
                {
                    title:'操作',
                    key:'action',
                    align:'center',
                    render: (h,params)=>{
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.unlock(params.index)
                                    }
                                }
                            }, '开锁'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        this.lock(params.index)
                                    }
                                }
                            }, '关锁')
                        ]);
                    }
                }
            ]
        }
    },
    methods:{
        mockTableData1 () {
            let status= ['空闲', '使用中', '被预约'];
            let data = [];
            let date = [
                '2017/12/21 下午8:24:10',
                '2017/12/20 上午10:36:21',
                '2017/12/19 下午5:23:40',
                '2017/12/21 下午1:44:24',
                '2017/12/21 下午2:14:53',
                '2017/12/20 上午6:44:24',
                '2017/12/19 下午3:44:24',
                '2017/12/21 上午9:32:24',
                '2017/12/20 下午5:54:12',
                '2017/12/19 上午7:44:24',
                '2017/12/21 下午6:32:44',
                '2017/12/20 上午9:14:23',
                '2017/12/21 上午7:44:24',
            ];
            for (let i = 0; i < 10; i++) {
                data.push({
                    id: i+1,
                    lockId: Math.floor(Math.random () * 1000 + 1),
                    status: status[Math.floor(Math.random () * 3)],
                    battery: Math.floor(Math.random () * 100+1 ) + '%',
                    end_at: date[Math.floor(Math.random()*13)]
                })
            }
            return data;
        },
        unlock(index){
            let topic = 'unlock_park';
            let msg = JSON.stringify({
                "address":this.lockData[index].address,
                "open":false
            });
            mqtt_publish(topic,msg);
        },
        lock(index){
            let topic = 'unlock_park';
            let msg = JSON.stringify({"address":this.lockData[index].address,"open":true});
            mqtt_publish(topic,msg);
        },
        fetchData(){
            var _this = this;
            this.httpRequest.get('/lockList')
            .then(function(result){
                console.log('fetchData [parkinglock list]',result);
                if(result.status==200){
                    var data = result.data;
                    var filter = data;
                    data.forEach((element,index) => {
                        filter[index].lockId = element.id;
                        filter[index].status = element.status || '空闲';
                        filter[index].battery = element.battery|| '--';
                        filter[index].end_at = element.end_at || '--';
                    });
                    _this.lockData = filter;
                }
            });
        }
    },
    created(){
        // connectYunba();
        mqtt_subscribe_presence(
            'unlock_park',
            function(){
                console.log('mqtt_subscribe_presence success')
            },function(){})
        this.fetchData();
    }
}
</script>
