<template>
    <Row :gutter="16">
        <i-col span="24">
            <p class="finance-title">
                押金总金额 
            </p>
            <vue-highcharts :options="deposit" ref="totalDeposit"></vue-highcharts>
        </i-col>
    </Row>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            deposit:{
                chart:{
                    type:'area',
                    alignTicks:true,
                    reflow:false,
                    style:{
                        width:'100%'
                    }
                },
                credits:{
                    enable:false,
                },
                title:{
                    text:''
                },
                xAxis:{
                    type:'datetime',
                    deteTimerLabelFormat:{
                        second: '%Y-%m-%d<br/>%H:%M:%S',
                        minute: '%Y-%m-%d<br/>%H:%M',
                        hour: '%Y-%m-%d<br/>%H:%M',
                        day: '%Y<br/>%m-%d',
                        week: '%Y<br/>%m-%d',
                        month: '%Y-%m',
                        year: '%Y9'
                    },
                    
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '',
                },
                legend: {
                    enable: false
                },
                series: [{
                    lineWidth:1,
                    softThreshold:true,
                    type:'area',
                    color: '#00c396',
                    fillColor: '#c7f3e9',
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: 3,
                        states: {
                            hover: {
                                radius: 3.75
                            },
                            select: {
                                radius: 3.75
                            }
                        }
                    },
                    lineWidth:1,
                    states: {
                        hover: {
                            lineWidth:1,
                            halo: {
                                size: 7.5
                            }   
                        }
                    },
                    showInLegend: false,
                    name: this.$i18n.locale == 'zh' ? '¥' : '$',
                    data:  [0,1,2,3,4,5]
                }]
            }
        }
    },
    created(){

    }
}
</script>
<style>
    .finance-title {
        margin-left: 16px;
        padding-left: 8px;
        height: 18px;
        line-height: 18px;
        font-size: 16px;
        border-left: 3px solid #464c5b;
        color: #454c5a;
        text-align:left;
    }
</style>
