<template>
  <yb-layout>
      <div slot="title">客户服务</div>
      <div slot="main">
          <Table border :content="self" :data='customData' :columns='tableColumns'></Table>
      </div>
  </yb-layout>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            customData:[],
            tableColumns:[
                {
                    title:'序号',
                    key:'id',
                    align:'center',
                    width:''
                },
                {
                    title:'类型',
                    key:'type',
                    align:'center',
                    width:''
                },
                {
                    title:'其他',
                    key:'other',
                    align:'center',
                    width:''
                },
                {
                    title:'用户编号',
                    key:'user_id',
                    align:'center',
                    width:''
                },
                {
                    title:'车锁编号',
                    key:'lock_id',
                    align:'center',
                    width:''
                },
                {
                    title:'备注',
                    key:'remark',
                    align:'center',
                    width:''
                },
                {
                    title:'照片',
                    key:'photo',
                    align:'center',
                    width:''
                },
                {
                    title:'创建时间',
                    key:'create_at',
                    align:'center',
                    width:''
                },
                {
                    title:'管理员备注',
                    key:'admin_remark',
                    align:'center',
                    width:''
                },
                {
                    title:'状态',
                    key:'status',
                    align:'center',
                    width:''
                },
                {
                    title:'操作',
                    key:'action',
                    align:'center',
                    width:''
                }
            ]
        }
    }
}
</script>