<template>
  <yb-layout>
      <div slot="title">用户管理</div>
      <div slot="main">
            <Table border :content="self" :data="usersData" :columns="tableColumns"></Table>
            <Modal
                :self="self"
                v-model="modifyBalanceModal"
                title="修改余额"
                @on-ok="ok"
                @on-cancel="cancel">
                <Input v-model="modifyBalanceValue" placeholder="Enter something..." style="width:100%;"></Input>
            </Modal>
        
      </div>
     

  </yb-layout>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            modifyBalanceModal:false,
            modifyIndex:null,
            modifyBalanceValue:0,
            usersData:[
                {
                    id:1,
                    user_id:225082238,
                    user_name:'廖土',
                    user_phone:'13868359635',
                    user_id_num:'352224196301013712',
                    deposit:'100',
                    balance:'54',
                    account_status:'正常'
                },
                {
                    id:2,
                    user_id:225082230,
                    user_name:'李宏瑞',
                    user_phone:'18565836418',
                    user_id_num:'420683199904145515',
                    deposit:'0',
                    balance:'0',
                    account_status:'欠费'
                },
                {
                    id:3,
                    user_id:225082219,
                    user_name:'杨珂',
                    user_phone:'13488862232',
                    user_id_num:'410602198207130019',
                    deposit:'100',
                    balance:'22',
                    account_status:'正常'
                },
                {
                    id:4,
                    user_id:225082199,
                    user_name:'王晓静',
                    user_phone:'18864928555',
                    user_id_num:'371581199002040884',
                    deposit:'100',
                    balance:'86',
                    account_status:'正常'
                },
                {
                    id:5,
                    user_id:225082173,
                    user_name:'田健',
                    user_phone:'15986707184',
                    user_id_num:'422312198102062314',
                    deposit:'100',
                    balance:'62',
                    account_status:'正常'
                },
                {
                    id:6,
                    user_id:225082167,
                    user_name:'章成立',
                    user_phone:'13958928129',
                    user_id_num:'330326197207050717',
                    deposit:'100',
                    balance:'10',
                    account_status:'正常'
                },
                {
                    id:7,
                    user_id:225082155,
                    user_name:'陈翔',
                    user_phone:'13808642805',
                    user_id_num:'42011119771122425X',
                    deposit:'100',
                    balance:'20',
                    account_status:'正常'
                },
                {
                    id:8,
                    user_id:225082141,
                    user_name:'吴中政',
                    user_phone:'13456011000',
                    user_id_num:'330302198405217315',
                    deposit:'100',
                    balance:'123',
                    account_status:'正常'
                },
                {
                    id:9,
                    user_id:225082101,
                    user_name:'刘新宇',
                    user_phone:'15552146035',
                    user_id_num:'371581198607290910',
                    deposit:'100',
                    balance:'204',
                    account_status:'正常'
                },
                {
                    id:10,
                    user_id:225082068,
                    user_name:'秦磊',
                    user_phone:'17695722319',
                    user_id_num:'41072619820422663X',
                    deposit:'100',
                    balance:'324',
                    account_status:'正常'
                }
            ],
            tableColumns:[
                {
                    title:'序号',
                    key:'id',
                    align:'center',
                    width:''
                },
                {
                    title:'用户编号',
                    key:'user_id',
                    align:'center',
                    width:''
                },
                {
                    title:'用户姓名',
                    key:'user_name',
                    align:'center',
                    width:''
                },
                {
                    title:'电话号码',
                    key:'user_phone',
                    align:'center',
                    width:''
                },
                {
                    title:'身份证号',
                    key:'user_id_num',
                    align:'center',
                    width:''
                },
                {
                    title:'押金',
                    key:'deposit',
                    align:'center',
                    width:''
                },
                {
                    title:'余额',
                    key:'balance',
                    align:'center',
                    width:''
                },
                {
                    title:'账户状态',
                    key:'account_status',
                    align:'center',
                    width:''
                },
                {
                    title:'操作',
                    key:'action',
                    align:'center',
                    width:'',
                    render: (h,params)=>{
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.modifyBalance(params.index)
                                    }
                                }
                            }, '修改余额')
                        ]);
                    }
                }
            ]
        }
    },
    methods:{
        modifyBalance:function(index){
            const _this =this;
            console.log('data',index,_this.usersData[index]);
            this.modifyIndex = index;
            this.modifyBalanceModal = true;
        },
        ok:function(){
            const _this = this;
            _this.usersData[_this.modifyIndex].balance = this.modifyBalanceValue;
            _this.$Message.success('修改成功');
        },
        cancel:function(){

        }
    }
}
</script>

