<template>
  <yb-layout>
      <div slot="title">区域管理</div>
      <div slot="main">
          <Table border :content="self" :data="regionData" :columns="tableColumns"></Table>
      </div>
  </yb-layout>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            regionData:[],
            tableColumns:[
                {
                    title:'序号',
                    key:'id',
                    align:'center',
                    width:100
                },
                {
                    title:'区域名称',
                    key:'region_name',
                    align:'center',
                    width:''
                },
                {
                    title:'区域管理员',
                    key:'region_admin',
                    align:'center',
                    width:''
                },
                {
                    title:'区域车位锁',
                    key:'region_lock',
                    align:'center',
                    width:''
                },
                {
                    title:'操作',
                    key:'action',
                    align:'center',
                    width:''
                }
            ]
        }
    }
}
</script>