<style>
    .marginCenter{
        margin:0 auto;
    }
    .textCenter{
        text-align:center;
    }
    .inlineBlock{
        display: inline-block;
    }
</style>

<template>
    <yb-layout>
        <span slot="title">添加新设备</span>
        <div slot="main">
            <Form ref="formDynamic" :model="formDynamic" :label-width="100">
                <div v-for="(item, index) in formDynamic.items" :key="index">
                    <Row :gutter="16">
                        <Col span="18">
                            <Row>
                                <Col span="1">
                                    <p class="textCenter">{{index + 1}}</p>
                                </Col>
                                <Col span="23">
                                    <FormItem label='锁蓝牙MAC地址'  :prop="'items.'+index+'.lockMac'" :rules="ruleCustom.lockMac"> 
                                        <Input type="text" v-model="item.lockMac" placeholder="蓝牙MAC地址"></Input>
                                    </FormItem>
                                </Col>
                            </Row> 
                        </Col>
                        
                        <Col span="4" offset="1">
                            <b></b>
                            <Button type="ghost" @click="handleRemove(index)">删除</Button>
                        </Col>
                    </Row>
                </div>
                <FormItem>
                    <Row>
                        <Col span="16">
                            <Button type="dashed" long @click="handleAdd" icon="plus-round">新增</Button>
                        </Col>
                    </Row>
                </FormItem>
                <FormItem>
                    <Row>
                        <Col span="10" offset='6'>
                            <Button type="primary" @click="handleSubmit('formDynamic')">提交</Button>
                        </Col>
                    </Row>     
                </FormItem>
            </Form>
        </div>
    </yb-layout>
</template>

<script>
    var cachRecur = function(array){
        var isRecur={
            lockIdRecur:false
        };
        var cache=[];
        for(var i=0,len=array.length;i<len;i++){
            // var isRecur=false;
            for(var j=0,_len = cache.length;j<_len;j++){
                if(cache[j].lockMac === array[i].lockMac){
                    isRecur.lockIdRecur = true;
                }
            }
            if(isRecur.lockIdRecur){
                break;
            }else{
                cache.push(array[i]);
            }
        }
        return isRecur;
    }
    export default {
        data () {
            const validateLockMac = (rule,value,callback) => {
                if(value === ''){
                    callback(new Error('不能为空！'))
                }else{
                    var isRecur = false;
                    isRecur = cachRecur(this.formDynamic.items);
                    if(isRecur.lockIdRecur){
                        callback(new Error('MAC已存在！'));
                    }else{
                        callback();
                    }
                }
            };
            return {
                formDynamic: {
                    index:1,
                    items: [
                        {
                            lockMac: ''
                        }
                    ]
                },
                ruleCustom:{
                    lockMac :[
                        {validator: validateLockMac, trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            handleSubmit (name) {
                const _this = this;
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        //发起请求到服务器
                        var jsonData={
                            data:_this.formDynamic.items
                        };
                        _this.httpRequest.post('/addLockMac',_this.formDynamic.items).then(function(result) {
                            console.log('addlockmac success',result)
                        }.bind(this));
                    } else {
                        _this.$Message.error('信息填写错误！');
                    }
                })
            },
            handleAdd () {
                this.formDynamic.items.push({
                    lockuid: ''
                });
                this.formDynamic.index=this.formDynamic.items.length;
                // console.log(this.formDynamic.items);
            },
            handleRemove (index) {
                this.formDynamic.items.splice(index,1);
            }
        },
        created(){
            this.formDynamic.index=this.formDynamic.items.length;
        }
    }
</script>