<template>
  <yb-layout>
      <div slot="title">内容管理</div>
      <div slot="main">
          <Table border :content="self" :data="contentData" :columns="tableColumns" stripe></Table>
      </div>
  </yb-layout>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            contentData:[],
            tableColumns:[
                {
                    title:'序号',
                    key:'id',
                    align:'center',
                    width:100
                },
                {
                    title:'显示',
                    key:'display',
                    align:'center',
                    width:100
                },
                {
                    title:'标题',
                    key:'title',
                    align:'center',
                },
                {
                    title:'操作',
                    key:'action',
                    align:'center',
                    width:150
                }
            ]
        }
    }
}
</script>