
<template>
    <div class="dashboard">
        <Row :gutter="16">
            <i-col span='6'>
                <router-link to="/users">
                    <Card>
                        <Row class="card card-user">
                            <i-col span="12" class="icon-wrap">
                                <img src="../assets/image/tips/user.png" alt="">
                            </i-col>
                            <i-col>
                                <span class="value">{{today.newAccount}}</span>
                                <span class="note">{{$t('newUsersToday')}}</span>
                            </i-col>
                        </Row>
                    </Card>
                </router-link>
            </i-col>
            <i-col span='6'>
                <router-link to="/finance">
                    <Card>
                        <Row class="card card-deposit">
                            <i-col span="12" class="icon-wrap">
                                <img src="../assets/image/tips/cash-pledge.png" alt="">
                            </i-col>
                            <i-col>
                                <span class="value">{{today.deposit}}</span>
                                <span class="note">{{$t('newDepositToday')}}</span>
                            </i-col>
                        </Row>
                    </Card>
                </router-link>
            </i-col>
            <i-col span='6'>
                <router-link to="/finance">
                    <Card>
                        <Row class="card card-recharge">
                            <i-col span="12" class="icon-wrap">
                                <img src="../assets/image/tips/recharge.png" alt="">
                            </i-col>
                            <i-col>
                                <span class="value">{{today.newAccount}}</span>
                                <span class="note">{{$t('newUsersToday')}}</span>
                            </i-col>
                        </Row>
                    </Card>
                </router-link>
            </i-col>
            <i-col span='6'>
                <router-link to="/finance">
                    <Card>
                        <Row class="card card-consume">
                            <i-col span="12" class="icon-wrap">
                                <img src="../assets/image/tips/income.png" alt="">
                            </i-col>
                            <i-col>
                                <span class="value">{{today.newAccount}}</span>
                                <span class="note">{{$t('newUsersToday')}}</span>
                            </i-col>
                        </Row>
                    </Card>
                </router-link>
            </i-col>
        </Row>
        <h2 class="section-title">{{$t('lockStatistics')}}</h2>
        <Row :gutter="16">
            <i-col span="12">
                <Card>
                    <p class="chart-title" slot="title">
                        总投放 : 104 
                    </p>
                    <vue-highcharts :options="putIntoLock" ref="putIntoLock"></vue-highcharts>
                    
                </Card>
            </i-col>
            <i-col span="12">
                <Card>
                    <p class="chart-title" slot="title">
                        活跃 : 60 
                    </p>
                    <div style="width:100%;">
                        <vue-highcharts :options="usedLock" ref="usedLock"></vue-highcharts>
                    </div>
                </Card>
            </i-col>
        </Row>
    </div>
</template>
<script>



export default {
    data(){
        return {
            today:{
                newAccount:14,
                deposit:0,
                balance:0,
                income:0
            },
            putIntoLock: {
                chart: {
                    type: 'area',
                    style:{
                        width:'100%'
                    }
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        second: '%Y-%m-%d<br/>%H:%M:%S',
                        minute: '%Y-%m-%d<br/>%H:%M',
                        hour: '%Y-%m-%d<br/>%H:%M',
                        day: '%Y<br/>%m-%d',
                        week: '%Y<br/>%m-%d',
                        month: '%Y-%m',
                        year: '%Y9'
                    }
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    enable: false
                },
                series: [{
                    color: '#00c396',
                    fillColor: '#c7f3e9',
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: 3,
                        states: {
                            hover: {
                                radius: 3.75
                            },
                            select: {
                                radius: 3.75
                            }
                        }
                    },
                    lineWidth:1,
                    states: {
                        hover: {
                            lineWidth:1,
                            halo: {
                                size: 7.5
                            }
                        }
                    },
                    showInLegend: false,
                    name: this.$t('count'),
                    data:[100,10,12]
                }]
            },

            usedLock: {
                chart: {
                    type: 'area',
                    style:{
                        width:'100%'
                    }
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },
                xAxis: {
                    type: 'datetime',
                        dateTimeLabelFormats: {
                            second: '%Y-%m-%d<br/>%H:%M:%S',
                            minute: '%Y-%m-%d<br/>%H:%M',
                            hour: '%Y-%m-%d<br/>%H:%M',
                            day: '%Y<br/>%m-%d',
                            week: '%Y<br/>%m-%d',
                            month: '%Y-%m',
                            year: '%Y9'
                        }
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    enable: false
                },
                series: [{
                    color: '#04b9f1',
                    fillColor: '#c8eefc',
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: 3,
                        states: {
                            hover: {
                                radius: 3.75
                            },
                            select: {
                                radius: 3.75
                            }
                        }
                    },
                    lineWidth:1,
                    states: {
                        hover: {
                            lineWidth:1,
                            halo: {
                                size: 7.5
                            }
                        }
                    },
                    showInLegend: false,
                    name: this.$t('count'),
                    data: []
                }]
            },

            
        }
    },
    methods:{
        parseData(data) {
            const todayData = data.items[data.items.length-1];
            const seriesDeposit = [], seriesBalance = [], seriesConsume = [];
            const result = {
                today: {
                    newAccount: data.inc_account_in_today,
                    deposit: todayData.deposit,
                    balance: todayData.balance,
                    income: todayData.total
                },
                total: {
                    income: data.total_income,
                    deposit: data.total_deposit,
                    balance: data.total_balance,
                    consume: data.total_consume
                },
                series: {
                    deposit: [],
                    balance: [],
                    consume: []
                }
            };

            function toYuan(val) {
              return util.accurateNumber(val/100);
            }
            
            data.items.forEach((item) => {
              seriesDeposit.push([item.timestamp * 1000, toYuan(item.deposit)]);
              seriesBalance.push([item.timestamp * 1000, toYuan(item.balance)]);
              seriesConsume.push([item.timestamp * 1000, toYuan(item.consume)]);
            });
            
            result.series.deposit = seriesDeposit;
            result.series.balance = seriesBalance;
            result.series.consume = seriesConsume;

            return result
        },
        fixData(start, end, data) {
            // 服务端返回的数据不是很理想, 如果当天数据为 0 , 就不存在那个点, 下面补回来
            const points = [];
            const indexedData = {};
            data.forEach((item) => {
              indexedData[item.date] = item.value;
            });

            for (let t = moment(start).startOf('day').valueOf(), d; t < end; t += 86400000) {
              d = moment(t).format('YYYY-M-D');
              points.push({date: d, value: indexedData[d] || 0});
            }

            return points;
        }

    },
    created:function(){
        const result = {"status":0,"put_into_bike":[{"date":"2018-3-4","value":101},{"date":"2018-3-5","value":101},{"date":"2018-3-6","value":101},{"date":"2018-3-7","value":100},{"date":"2018-3-8","value":100},{"date":"2018-3-9","value":100}],"used_bike":[{"date":"2018-3-4","value":3},{"date":"2018-3-5","value":4},{"date":"2018-3-6","value":3},{"date":"2018-3-7","value":3},{"date":"2018-3-8","value":1},{"date":"2018-3-9","value":2}]};
        const now = parseInt(Date.now()/1000);
        const start = now - 6 * 86400;
        const end = now;

        if (result.status == 0) {
            result.put_into_bike = this.fixData(start * 1000, end * 1000, result.put_into_bike);
            result.used_bike = this.fixData(start * 1000, end * 1000, result.used_bike);
            const putIntoBikeData = result.put_into_bike.map((item) => [+new Date(item.date), item.value]);
            const usedBikeData = result.used_bike.map((item) => [+new Date(item.date), item.value]);

            this.putIntoLock.series[0].data = putIntoBikeData;

            this.usedLock.series[0].data = usedBikeData;

        }
        
    },
    mounted(){
        console.log(this.$refs.putIntoLock);
    }
}
</script>

<style type="text/css" scoped>
    .card{
        height:130px;
        border-bottom:1px solid #e5e9ee;
        color:#454c5a;
    }

    .card .value,
    .card .note{
        display: block;
        text-align: right;
    }

    .value {
        margin-top: 21px;
        font-size: 36px;
        line-height: 42px;
    }

    .note {
        font-size: 12px;
        color: #8d9ea1;
    }

    .section-title {
        text-align: left;
        margin: 24px 0;
        line-height:48px;
        background:#ffffff;
        text-indent:32px;
        border-bottom:1px solid #e5e9ee;
        color:#454c5a;
    }

    .icon-wrap {
        position:relative;
        margin:13px 16px;
        width: 72px;
        height:72px;
        border-radius:50%;
    }

    .icon-wrap img {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    .card-user .icon-wrap {
        background:#00c1c7;
    }

    .card-deposit .icon-wrap {
        background: #30b5f0;
    }

    .card-recharge .icon-wrap {
        background: #ff947a;
    }

    .card-consume .icon-wrap {
        background: #4b5666;
    }

    .chart-title {
        margin-left: 16px;
        padding-left: 8px;
        height: 18px;
        line-height: 18px;
        font-size: 16px;
        border-left: 3px solid #464c5b;
        color: #454c5a;
        text-align: left;
    }
    
</style>


