<!--共享单车管理后台界面-->
<template>
    <div>
        <Row>
            <Col span='4' offset='18'>
                <Icon type="happy-outline"></Icon>
                <a name='zh' @click="changeLanguage('zh')">简体中文</a> | <a name='en' @click="changeLanguage('en')">English</a>
            </Col>
        </Row>
        <h2 style="text-align: center;margin: 30px; color: #39f">{{$t('loginTitle')}}</h2>
        <Row>
            <Col span="8" offset="8">
                <Form ref="loginForm" :model="formInline" :rules="ruleInline">
                    <Form-item prop="name">
                        <Input ref="name" type="text" v-model="formInline.name" :placeholder="$t('userName')">
                            <Icon type="ios-person-outline" slot="prepend"></Icon>
                        </Input>
                    </Form-item>
                    <Form-item prop="password">
                        <Input ref="password" type="password" v-model="formInline.password" :placeholder="$t('password')">
                            <Icon type="ios-locked-outline" slot="prepend"></Icon>
                        </Input>
                    </Form-item>
                    <!-- <router-link to="/register">
                        <div style="text-align:right">
                            <a href="javascript:void(0)">{{$t('forgotPassword')}}？>>></a>
                        </div>
                    </router-link> -->
                    <Form-item>
                        <Button type="primary"  @click="handleSubmit('loginForm')" long>{{$t('login')}}</Button>
                        <!-- <router-link to="/register">
                            <Button type="warning" long> {{$t('register')}} </Button>
                        </router-link> -->
                    </Form-item>
                </Form>
            </Col>
        </Row>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                formInline: {
                    name: '',
                    password: ''
                },
                ruleInline: {
                    name: [
                        { 
                            required: true, 
                            message: '请填写用户名',
                            trigger: 'blur'
                        }
                    ],
                    password: [
                        { 
                            required: true, 
                            message: '请填写密码',
                            trigger: 'blur'
                        },{ 
                            type: 'string',
                            min: 6,
                            message: '密码长度不能小于6位',
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },
        methods: {
            handleSubmit(name) {   
                this.$refs[name].validate(function(valid){
                    if (valid) {
                        console.log()
                        this.httpRequest.post('/login', {
                            name: this.formInline.name,
                            password: this.formInline.password,
                            appkey: APP_KEY
                        })
                        .then(function(result) {
                            console.log(result);
                            if(result.data.httpCode == 401){
                                this.$Message.warning(result.data.msg);
                                return;
                            }
                            window.IS_LOGIN = true;
                            localStorage.setItem(USER_CACHE_KEY, result.data.token);
                            this.$router.push({path: '/'});
                        }.bind(this))
                        .catch(function(err) {
                            console.log('Login error:',err);
                            this.$Message.error('密码错误或用户名不存在');
                            const input = this.$refs.password.$el.querySelector('[type="password"]');
                            input.select();
                            input.focus();
                        }.bind(this));
                    }else{
                        this.$Message.error('请检查登陆信息！')
                    }
                }.bind(this))
            },
            changeLanguage(type){
                if(type == 'zh'){
                    // this.$i18n.locale = 'zh';
                    window.localStorage.setItem('language', 'zh');
                }else if(type == 'en'){
                    // this.$i18n.locale = 'en';
                    window.localStorage.setItem('language', 'en');
                }
                window.location.reload();
            }
            
        }
    }
</script>
