<style scoped>
    .layout{
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout > div {
        height: 100%;
    }

    .layout-content{
        min-height: 200px;
        margin: 15px;
        background: #fff;
        border-radius: 4px;
    }

    .layout-header-bar{
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-align: left;
    }

    .layout-logo-left{
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }
    .layout-content-main{
        padding: 10px;
        border-radius: 4%;
    }

    div.logo{
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        color:white;
        margin:10px auto;
        line-height: 30px;
        text-align: center;
       
    }
    div.logo > span{
        overflow: hidden;
        text-overflow: "-";
        width:100%;
        height:100%;
    }

    div.logo > span > img{
        display: inline-block;
        text-align:center;
        margin:0px auto;
        vertical-align: middle;
        width:90%;
    }
    .menu-icon{

        transition: all .3s;
    }
    .rotate-icon{
        transform: rotate(-90deg);
    }
    .menu-item span{
        display: inline-block;
        overflow: hidden;
        width: 100px;
        text-overflow: ellipsis;
        text-align:left;
        white-space: nowrap;
        vertical-align: middle;
        transition: width .2s ease .2s;
    }
    .menu-item i{
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }
    .collapsed-menu span{
        width: 0px;
        transition: width .2s ease;
    }
    .collapsed-menu i{
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }
    span.showText{
        text-overflow: unset;
        white-space: unset;
    }
    .dashboard{
        margin: 10px;
    }
     .user-info {
        height: 60px;
        display: inline-block;
        margin-right: 30px;
        float: right;
    }
    .user-info .name {
        text-align: right;
        font-size: 14px;
        line-height: 60px;
        color: #30b5f0;
    }
    .user-info .name i {
        margin-left: 10px;
    }
</style>
<template>
    <div class="layout">
        <Layout>
            <Sider ref="side1" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed">
                <Menu :active-name="activeName" theme="dark" width="auto" :class="menuitemClasses">
                    <div class='logo'>
                        <!-- <Icon></Icon> -->
                        <span><img src="../assets/image/logo2.png" alt=""></span>
                    </div>
                    <router-link to='/'>
                        <MenuItem name="dashboard">
                            <Icon type="ios-navigate"></Icon>
                            <span>系统总览</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/parkingLockManagement'>
                        <MenuItem name="parkingLockManagement">
                            <Icon type="lock-combination"></Icon>
                            <span>车位锁管理</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/users'>
                        <MenuItem name="users">
                            <Icon type="person"></Icon>
                            <span>用户管理</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/finance'>
                        <MenuItem name="finance">
                            <Icon type="social-yen"></Icon>
                            <span>财务报表</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/advertisement'>
                        <MenuItem name="advertisement">
                            <Icon type="speakerphone"></Icon>
                            <span>广告消息</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/content'>
                        <MenuItem name="content">
                            <Icon type="document-text"></Icon>
                            <span>内容管理</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/regionManagement'>
                        <MenuItem name="regionManagement">
                            <Icon type="pie-graph"></Icon>
                            <span>区域管理</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/customServer'>
                        <MenuItem name="customServer">
                            <Icon type="happy"></Icon>
                            <span>客户服务</span>
                        </MenuItem>
                    </router-link>

                    <router-link to='/setting'>
                        <MenuItem name="setting">
                            <Icon type="settings"></Icon>
                            <span>系统设置</span>
                        </MenuItem>
                    </router-link>
                </Menu>
            </Sider>
            <Layout>
                <Header :style="{padding: 0}" class="layout-header-bar">
                    <Icon @click.native="collapsedSider" :class="rotateIcon" :style="{margin: '20px 20px 0'}" type="navicon-round" size="24"></Icon>
                    
                    <div v-if="userInfo" class="user-info" style="float:right;margin-left:20px;">
                        <Dropdown placement="bottom-end">
                            <a class="name" href="javascript:void(0)">
                                {{userInfo.userName}}
                                <Icon type="arrow-down-b"></Icon>
                            </a>
                            <DropdownMenu slot="list" >
                                <Dropdown-item>
                                    <Dropdown placement="left-start">
                                        <DropdownItem>
                                            <Icon type="ios-arrow-left"></Icon>
                                            语言设置
                                        </DropdownItem>    
                                        <DropdownMenu slot="list">
                                            <a href="javascript:void(0)" @click="changeLanguage('zh')">
                                                <DropdownItem @click="changeLanguage('zh')">简体中文</DropdownItem>
                                            </a>
                                            <a href="javascript:void(0)" @click="changeLanguage('en')">
                                                <DropdownItem divided>English</DropdownItem>
                                            </a>
                                        </DropdownMenu>
                                    </Dropdown>
                                </Dropdown-item>
                                
                                <Dropdown-item name="logout" divided>
                                    <p style="text-align:center;" @click="logout">退出</p>    
                                </Dropdown-item>
                            </DropdownMenu>
                        </Dropdown>
                    </div>
                </Header>
                <Content v-if="$route.name != 'dashboard'" :style="{margin: '20px', background: '#fff', minHeight: '260px', borderRadius: '5px'}">
                    <div  class="layout-content" ref="content">
                        <div class="layout-content-main">
                            <router-view></router-view>
                        </div>
                    </div>
                </Content>
                <Content v-else :style="{margin: '20px', minHeight: '260px', borderRadius: '5px'}">
                    <div class="layout-content-main dashboard">
                        <router-view></router-view>
                    </div>
                </Content>
            </Layout>
        </Layout>
    </div>
</template>

<script type="text/javascript">

    export default {
        data () {
            return {
                isCollapsed: false,
                userInfo:''
            }
        },
        computed: {
            rotateIcon () {
                return [
                    'menu-icon',
                    this.isCollapsed ? 'rotate-icon' : ''
                ];
            },
            menuitemClasses () {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            },
            activeName () {
                console.log(this.$route.name);
                return this.$route.name;
            }
        },
        methods: {
            collapsedSider () {
                this.$refs.side1.toggleCollapse();
            },
            fetchData(){
                const _this = this;
                this.httpRequest({
                    url:'/userInfo'
                })
                .then(result=>{
                    console.log('获取用户信息',result);
                    if(result.data.status == 500){
                        _this.$Message.warning('登陆失效，请重新登陆！');
                        window.IS_LOGIN = false;
                        localStorage.setItem(USER_CACHE_KEY, '');
                        _this.$router.push({
                            path:'/login'
                        });
                        return;
                    }
                    _this.userInfo = result.data;
                })
                .catch(err=>{
                    console.log('获取用户信息失败',err);
                    _this.$Message.error('获取用户信息失败,请重新登陆！');
                    localStorage.setItem(USER_CACHE_KEY, '');
                    window.IS_LOGIN = false;
                    _this.$router.push({
                        path:'/login'
                    });
                })
            },
            logout(){
                const _this = this;
                _this.httpRequest({
                    url:'/logout'
                })
                .then(result=>{
                    console.log('退出登陆',result);
                    _this.$Message.success('退出成功！');
                    localStorage.setItem(USER_CACHE_KEY, '');
                    window.IS_LOGIN = false;
                    _this.$router.push({
                        path:'/login'
                    });
                })
                .catch(err=>{
                    localStorage.setItem(USER_CACHE_KEY, '');
                    window.IS_LOGIN = false;
                    _this.$router.push({
                        path:'/login'
                    });
                })
                
            }
        },
        created(){
            this.fetchData();
        },
        mounted(){
            function setHeight(){
                const $el = this.$el;
                var w = window,
                    d = document,
                    e = d.documentElement,
                    g = d.getElementsByTagName('body')[0],
                    windowWidth = w.innerWidth || e.clientWidth || g.clientWidth,
                    windowHeight = w.innerHeight || e.clientHeight || g.clientHeight;
                var menuEl = e.getElementsByClassName('layout')[0];
                menuEl.style.height = windowHeight - menuEl.offsetTop + 'px';
            }
            window.addEventListener('resize',setHeight.bind(this));
            setHeight.call(this);
        }
    }
</script>
