<template>
   
    <el-card class="box-card" style="width:80%;margin:20px auto;">
        <div slot="header" class="clearfix">
            <span style="font-size:20px;color:#409EFF;">{{$t('registerTitle')}} </span>
        </div>
        <div>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100">
                <FormItem :label="$t('loginName')" prop="loginName">
                    <Input v-model="formValidate.loginName" :placeholder="$t('placeholderLoginName')"></Input>
                </FormItem>
                <FormItem :label="$t('userName')" prop="userName">
                    <Input v-model="formValidate.userName" :placeholder="$t('placeholderUserName')"></Input>
                </FormItem>
                <FormItem :label="$t('appkey')" prop="appkey">
                    <Row>
                        <Col span="14">
                            <Input v-model="formValidate.appkey" :placeholder="$t('appkey')"></Input>
                        </Col>
                        <Col span="10" style="text-align:left; padding-left:20px;">
                            <a href="javascript:void(0)">如何申请Appkey,请戳--></a>
                        </Col>
                    </Row>
                </FormItem>
                <FormItem :label="$t('password')" prop="password">
                    <Input v-model="formValidate.password" :placeholder="$t('password')"></Input>
                </FormItem>
                <FormItem :label="$t('password')" prop="password">
                    <Input v-model="formValidate.password" :placeholder="$t('placeholderInputPasswordAgain')"></Input>
                </FormItem>
                <FormItem :label="$t('captcha')" prop="captcha">
                    <Row>
                        <Col span="10">
                            <Input v-model="formValidate.captcha" :placeholder="$t('placeholderCaptcha')"></Input>
                        </Col>
                        <Col span="5">
                            <Button style="width:80%;" type="primary" @click="getCaptcha" :disabled ="captchaBtn.disable" >{{captchaBtn.msg}}</Button>
                        </Col>
                    </Row> 
                </FormItem>
                <FormItem  prop="gender">
                    <CheckboxGroup v-model="formValidate.gender">
                        <Checkbox label="male"><a href="javascript:void(0)" @click="modal1 = true">已阅读《云巴车位锁管理系统用户协议》</a></Checkbox>
                    </CheckboxGroup>
                </FormItem>
                <FormItem>
                    <Button type="primary" @click="handleSubmit('formValidate')">{{$t('submit')}}</Button>
                    <router-link to="/login">
                        <Button type="ghost" style="margin-left: 8px">{{$t('cancel')}}</Button>
                    </router-link>
                </FormItem>
               
            </Form>
        </div>
        <Modal
        v-model="modal1"
        title="云巴车位锁管理系统用户协议"
        >
            <p>Content of dialog</p>
            <p>Content of dialog</p>
            <p>Content of dialog</p>
        </Modal>
    </el-card>
</template>
<script>
    export default {
        data () {
            return {
                modal1:false,
                formValidate: {
                    loginName:'',
                    userName: '',
                    appkey: '',
                    password: '',
                    validPassword:'',
                    captcha:''
                },
                ruleValidate: {
                    loginName: [
                        { required: true, message:this.$t('warningMessageCannotBeEmpty'), trigger: 'blur' }
                    ],
                    userName: [
                        { required: true, message:this.$t('warningMessageCannotBeEmpty'), trigger: 'blur' }
                    ],
                    appkey: [
                        { required: true, message:this.$t('warningMessageCannotBeEmpty'), trigger: 'blur' },
                    ],
                    password: [
                        { required: true, message: 'Please select the city', trigger: 'change' }
                    ],
                    validPassword: [
                        { required: true, message: 'Please select gender', trigger: 'change' }
                    ],
                    captcha:[
                        { required: true, message:this.$t("warningMessageCannotBeEmpty"), trigger:'blur'}
                    ],
                    interest: [
                        { required: true, type: 'array', min: 1, message: 'Choose at least one hobby', trigger: 'change' },
                        { type: 'array', max: 2, message: 'Choose two hobbies at best', trigger: 'change' }
                    ],
                    date: [
                        { required: true, type: 'date', message: 'Please select the date', trigger: 'change' }
                    ],
                    time: [
                        { required: true, type: 'date', message: 'Please select time', trigger: 'change' }
                    ],
                    desc: [
                        { required: true, message: 'Please enter a personal introduction', trigger: 'blur' },
                        { type: 'string', min: 20, message: 'Introduce no less than 20 words', trigger: 'blur' }
                    ]
                },
                captchaBtn:{
                    msg:this.$t('getCaptcha'),
                    disable:false
                }
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
            getCaptcha(){
                console.log('获取验证码');
                const _this = this;
                _this.captchaBtn.disable = true;
                var counter = 30;
                var timer = setInterval(function(){
                    counter --;
                    if(counter > 0){
                        _this.captchaBtn.msg = counter + 's';
                    }else{
                        clearInterval(timer);
                        timer = null;
                        _this.captchaBtn ={
                            msg:_this.$t('getCaptcha'),
                            disable:false
                        }
                    }
                },1000)
            }
        }
    }
</script>
