<template>
  <yb-layout>
      <div slot="title">广告消息</div>
      <div slot="main">
          <Table border :content="self" :data="advertiseData" :columns="tableColumns"></Table>
      </div>
  </yb-layout>
</template>
<script>
export default {
    data(){
        return {
            self:this,
            advertiseData:[],
            tableColumns:[
                {
                    title:'序号',
                    key:'id',
                    align:'center',
                    width:'100'
                },
                {
                    title:'弹窗显示',
                    key:'display',
                    align:'center',
                    width:''
                },
                {
                    title:'封面',
                    key:'cover',
                    align:'center',
                    width:''
                },
                {
                    title:'标题',
                    key:'title',
                    align:'center',
                    width:''
                },
                {
                    title:'简介',
                    key:'summary',
                    align:'center',
                    width:''
                },
                {
                    title:'链接',
                    key:'link',
                    align:'center',
                    width:''
                },
                {
                    title:'起始时间',
                    key:'start_at',
                    align:'center',
                    width:''
                },
                {
                    title:'结束时间',
                    key:'end_at',
                    align:'center',
                    width:''
                },
                {
                    title:'类型',
                    key:'type',
                    align:'center',
                    width:''
                },
                {
                    title:'操作',
                    key:'action',
                    align:'center',
                    width:''
                }
            ]
      }
  }
}
</script>